  <% unless comment.archived? %>
  <div id="container">
  <p>
    <%= comment.commenter %>: <%= comment.body %>
  </p>
  <p style= "text-decoration:none; background: none; border: none; padding: 0; margin-left: 5px;" >
    <%= link_to "", [comment.product, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class:"bi bi-trash3-fill px-2",style:'color:red;background:none;border:none' %>
    </p>
  </div>
<%end%>